<nav class="container navbar fixed-bottom navbar-light bg-light">
    <p class="navbar-text pull-left">
        © 2019 - SoftUni Articles
    </p>
    
    <a href="http://youtu.be/zJahlKPCL9g" class="navbar-btn btn-danger btn pull-right">
    <span class="glyphicon glyphicon-star"></span>  Subscribe on YouTube</a>
</nav>